#header2-c P {
  color: #627378;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-k .nav .link,
#dropdown-menu-2btn-k .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-k .navbar,
#dropdown-menu-2btn-k .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-k .dropdown-menu a:hover,
#dropdown-menu-2btn-k .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-k .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #ffffff;
}
